@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


@font-face {
    font-family: 'Mova';
    src: url('./fonts/mova.otf');
}


.nav a {
    padding: .5em .5em;
    color: rgb(51, 51, 51);
    position: relative;
    text-decoration: none;
    font-size: 18px;
}


body {
    height: 100%;

    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    background-image: url('bg1.jpg');
    background-repeat: repeat;
    /* Répète l'image horizontalement et verticalement */
    background-size: 100%;
    /* Ajuste la taille de l'image pour couvrir complètement l'élément parent */
}

.font-mova{
    font-family: 'Mova';
    letter-spacing: 2px
}

.nav-links::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: #292929;
    margin: auto;
    transition: 0.5s;
  }
  
  .nav-links:hover::after {
    width: 70%;
}




